:root {
  --primary-color: rgba(240, 75, 75, 1);
  --primary-color-hover: rgba(240, 75, 75, 0.8);
  --secondary-color: rgba(78, 139, 177, 1);
  --secondary-color-hover: rgba(78, 139, 177, 0.9);
  --bg-type-light: rgba(242, 240, 242, 0.7);
  --bg-type-tint: rgba(230, 218, 222, 0.5);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 12px;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

/* Navigation */

.menu-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.navbar-nav .menu-item.active {
  color: var(--primary-color);
}

.navbar-nav .menu-item:hover {
  color: var(--secondary-color-hover);
}

.navbar-nav .menu-item.active:hover {
  color: var(--primary-color-hover);
}

.navbar-toggler {
  border-color: var(--primary-color);
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.15rem var(--primary-color-hover);
}

/* Section Presentation*/

/* .header {
    background-image: url(../images/header/mobile_bg.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 22px;
    padding-top: 22px;
} */

.presentation {
  flex-direction: row;
  margin: 110px 0;
}

.presentation-content {
  width: 100%;
}

.link-buttons {
  margin-top: 36px;
}

.cta-btn-primary {
  color: white;
  background-color: var(--primary-color);
  border-radius: 30px;
  font-weight: 800;
  transition: background-color 0.3s ease-in-out;
}

.cta-btn-primary:hover {
  color: white;
  background-color: var(--primary-color-hover);
  border-color: none;
}

.btn.cta-btn-primary:active {
  color: var(--primary-color);
  background-color: white;
  border-color: var(--primary-color);
}

.btn.cta-btn-primary:focus-visible {
  color: var(--primary-color);
}

.cta-btn-secondary {
  color: var(--primary-color);
  background-color: white;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  font-weight: 800;
  transition: background-color 0.3s ease-in-out;
}

.cta-btn-secondary:hover {
  color: var(--primary-color-hover);
  background-color: white;
  border-color: var(--primary-color-hover);
}

.btn.cta-btn-secondary:active {
  color: var(--primary-color);
  background-color: white;
  border-color: var(--primary-color);
}

.btn.cta-btn-secondary:focus-visible {
  color: var(--primary-color);
}

.cta-btn-lg {
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
}

.cta-btn-sm {
  font-size: 14px;
  line-height: 27px;
  padding: 8px 16px;
}

.presentation-img {
  border-radius: 40px 4px;
}

.scroll-down {
  text-align: right;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 32;
  font-size: 32px;
  color: var(--primary-color);
  vertical-align: middle;
}

.btn-icon {
  color: white;
  font-size: 28px;
  margin-left: 6px;
}

.btn.btn-project:active .btn-icon {
  color: var(--secondary-color);
}

.btn.btn-project:focus-visible .btn-icon {
  color: var(--secondary-color);
}

/* Section Works */

.subtitle {
  display: inline-block;
  margin-left: 24px;
  text-transform: capitalize;
}

.bg-type-light {
  background: var(--bg-type-light);
}

.bg-type-tint {
  background: var(--bg-type-tint);
}

.works-row {
  margin-left: 0;
  margin-right: 0;
}

.row-first {
  border-radius: 4px 4px 0 0;
}

.row-last {
  border-radius: 0 0 4px 4px;
}

.project-img {
  border-radius: 8px;
  max-height: 400px;
}

.btn-project {
  background: var(--secondary-color);
  border-radius: 30px;
  color: white;
  font-weight: 800;
  font-size: 14px;
  line-height: 27px;
  padding: 8px 16px;
  transition: background-color 0.3s ease-in-out;
}

.btn-project:hover {
  color: white;
  background-color: var(--secondary-color-hover);
  border-color: none;
}

.btn.btn-project:active {
  color: var(--secondary-color);
  background-color: white;
  border-color: var(--secondary-color);
}

.btn.btn-project:focus-visible {
  color: var(--secondary-color);
}

/* Footer */

.inquiry-box {
  margin: 64px 0 48px;
}

.inquiry h3 {
  text-transform: none;
}

.inquiry p {
  margin-bottom: 0;
}

.link-social {
  color: rgba(0, 0, 0, 0.55);
  display: inline-block;
  font-size: 28px;
  padding: 0 16px;
  transition: color 0.15s ease-in-out;
}

.link-social:hover {
  color: var(--secondary-color-hover);
}

/* About Page */

.about-photo {
  border-radius: 40px 4px;
  max-height: 500px;
}

/* Works Page */

.works-subtitle {
  margin: 48px 0 8px 0;
}

.works-item {
  border-radius: 6px;
  padding: 24px;
  margin-bottom: 32px;
  width: 100%;
}

.project-img-wrap {
  margin-bottom: 36px;
}

.dev-works h2,
.design-works h2 {
  text-transform: capitalize;
}

/* Contact Page */

.contact-wrap {
  margin: 150px 0;
}

.link-email {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.15s ease-in-out;
  vertical-align: middle;
}

.link-email:hover {
  color: var(--primary-color-hover);
}

.link-email-text {
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
  vertical-align: middle;
}

.mail-icon {
  font-size: 24px;
}

/* Media Queries */

@media (min-width: 576px) and (max-width: 767.98px) {
  .presentation,
  .contact-wrap {
    margin: 50px 0;
  }
}

@media (max-width: 991.98px) {
  .row-pair-note {
    order: 2;
  }

  .row-pair-img {
    order: 1;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
  }

  h3 {
    font-size: 20px;
  }

  .cta-btn-lg {
    font-size: 18px;
    line-height: 27px;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 48px;
    line-height: 66px;
    margin-bottom: 16px;
  }

  h2 {
    font-size: 36px;
    line-height: 50px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }

  .navbar-expand-lg .navbar-nav .menu-item {
    padding-left: 48px;
  }

  .presentation-content,
  .presentation-img-wrap,
  .about-content,
  .about-photo-wrap {
    width: 50%;
  }

  .link-buttons {
    margin-top: 48px;
  }

  .presentation-img-wrap {
    padding: 24px 36px;
  }

  .cta-btn-lg {
    font-size: 24px;
    line-height: 36px;
    padding: 12px 24px;
  }

  .cta-btn-sm,
  .btn-project {
    font-size: 16px;
    line-height: 27px;
    padding: 10px 20px;
  }

  .works-item {
    width: 48%;
  }

  .link-email-text {
    font-size: 24px;
  }

  .mail-icon {
    font-size: 32px;
  }

  .link-social {
    font-size: 32px;
  }
}
